.app {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  overflow: hidden;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 4px;
}

.history-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.history-container > div {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
