.grid-container {
  min-height: 210px;
  min-width: 210px;
  max-height: 210px;
  max-width: 210px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-grid-container {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  display: contents;
}
