.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
}

.row {
  display: contents;
}
